<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>新規登録画面</title>
  <!-- <style type="text/css" media="screen">
    @import url("/assets/css/employee.css");
  </style> -->
  <link rel="stylesheet" href="/assets/css/employee.css?v=2">
</head>
<body>
  <fieldset>
    <h1>新規登録画面</h1>
    <form method="post" action="/newemployee">
      <div class="iconUser"></div>
      <input type="text" name="name" placeholder="Username" required>
      <div class="iconPassword"></div>
      <input type="password" name="password" placeholder="Password" required>
      <div class="iconEmployeeCode"></div>
      <input type="text" name="employeeCode" placeholder="EmployeeCode" required>
      <div class="iconEmail"></div>
      <input type="email" name="email" placeholder="Email" required>
      <input type="submit" value="Enter">
    </form>
  </fieldset>
  <a href="/login">ログインはこちら</a>
</body>
</html>