<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/reset.css">
  <link rel="stylesheet" href="/assets/css/production/toppage.css">
  <link rel="stylesheet" href="/assets/css/shered/header.css">
  <link rel="stylesheet" href="/assets/css/shered/footer.css">
  <title>トップページ</title>
</head>
<body>
  <div class="wrapper">
    {{template "header"}}
    <div class="main">
      <div class="select-boxies">
        <label>
          <select name="category">
            <option>天板</option>
            <option>扉</option>
            <option>水栓</option>
            <option>加熱機器</option>
            <option>レンジフード</option>
          </select>
        </label>

        <label>
          <select name="companies">
            <option>アイカ工業</option>
            <option>イビケン</option>
            <option>パロマ</option>
            <option>リンナイ</option>
            <option>日立</option>
            <option>三菱</option>
          </select>
        </label>
      </div>
    </div>
    {{template "footer"}}
  </div>
</body>
</html>

