<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/reset.css">
  <link rel="stylesheet" href="/assets/css/production/toppage.css?v=4">
  <link rel="stylesheet" href="/assets/css/shered/header.css?v=2">
  <link rel="stylesheet" href="/assets/css/shered/footer.css?v=2">
  <!-- <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
  <title>トップページ</title>
</head>
<body>
  <div class="wrapper">
    {{template "header"}}
    <div class="main">
      <div class="addcost">
        <a href="/production/addcost">原価を追加する</a>
      </div>
      <form action="#" class="select-boxies">
        <div class="select-contents">
          <label>
            <select name="categories">
              <option>天板</option>
              <option>扉</option>
              <option>水栓</option>
              <option>加熱機器</option>
              <option>レンジフード</option>
            </select>
          </label>
        </div>

        <div class="select-contents">
          <label>
            <select name="companies">
              <option>アイカ工業</option>
              <option>イビケン</option>
              <option>パロマ</option>
              <option>リンナイ</option>
              <option>日立</option>
              <option>三菱</option>
            </select>
          </label>
        </div>
        <input type="submit" value="送信" class="submit-btn">
      </form>

      <form class="sample5Area" action="#">
        <input type="text" class="sample5Text" placeholder="品番を入力してください">
        <div class="sample5Button">
          <img src="/assets/images/search-icon.png" class="sample5Img">
          <input type="submit" class="hidden-btn">
        </div>
      </form>

      <div class="results">
        検索結果一覧
        <ul>
          {{ range .productions}}
          <li> 
            品番：{{.ProductionCode}}、機種：{{.Category}}、幅：{{.Width}}、高さ：{{.Height}}、金額：{{.Price}}
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</body>
</html>

